[Desktop Entry]
Type=Application
Name=KDialog
Name[bg]=KDialog
Name[ca]=KDialog
Name[ca@valencia]=KDialog
Name[es]=KDialog
Name[eu]=KDialog
Name[fr]=KDialog
Name[ia]=KDialog
Name[it]=KDialog
Name[ka]=KDialog
Name[nl]=KDialog
Name[pt]=KDialog
Name[pt_BR]=KDialog
Name[sl]=KDialog
Name[tr]=KDialog
Name[uk]=KDialog
Name[vi]=KDialog
Name[x-test]=xxKDialogxx
Icon=system-run
Exec=kdialog
NoDisplay=true
